mixin prices()
  section.prices-wrap
    .stars-wrap.prices-stars
      #stars
      #stars2
      #stars3
      img.prices-comet1(src="assets/images/comet1.png")
    .container
      +b.prices
        .col-xl-9.offset-xl-2
          h2.title
            span.title-light Ищите качественные
            span.title-extra-bold услуги по продвижению?
          p.main-text.offset-xl-1 Низкие цены на продвижение своих работ на Behance? Вы нашли, чтоискали! У нас вы получаете комплексное индивидуальное продвижение по максимально выгодным ценам!
        +e.items
          +e('img').img-drop(src='assets/images/drop.png')
          -
            var items = [
              {
                img: 'assets/images/icons/ico-paper-plane.png',
                title: 'Light Start',
                text: [
                  '100 лайков',
                  '1000 просмотров',
                  'делаем за 1 день'
                ],
                price: '500',
                after: true
              },
              {
                img: 'assets/images/icons/ico-plane.png',
                title: 'Start',
                text: [
                  '250 лайков',
                  '2000 просмотров',
                  'делаем за 1-2 день'
                ],
                price: '1 000'
              },
              {
                img: 'assets/images/icons/ico-rocket.png',
                title: 'Fast Start',
                text: [
                  '100 лайков',
                  '5000 просмотров',
                  'делаем за 5-6 день'
                ],
                price: '2 000'
              },
              {
                className: 'prices__item-pink',
                img: 'assets/images/icons/ico-diamond.png',
                title: 'maximum',
                text: [
                  '2000 лайков',
                  '10 000 просмотров',
                  'делаем за 10 день'
                ],
                price: '5 000',
                classBtn: 'btn-white-on-pink'
              }
            ]
          each item in items
            +e.item-wrap
              +e.item(class= item.className || '')
                +e.item-img
                  img(src= item.img)
                +e('span').item-title.mb20= item.title
                span= item.text[0]
                span.mb20= item.text[1]
                span.mb20= item.text[2]
                +e('span').item-price.mb20= item.price
                  +e('span').item-ruble ₽
                button.btn.btn-small(class= item.classBtn || 'btn-white') Заказать
              if item.after
                +e('span').item-after При регистрации <span class="fw-extra-bold">БЕСПЛАТНО</span>
