mixin action()
  section.action-wrap
    .container
      +b.action
        +e.title-wrap.row
          .no-gutters
            .col-xl-8.offset-xl-2
              +e('h2').title.title
                span.title-light небывалые высоты
                span.title-extra-bold твоего аккаунта
              h1.title-big Behance
              p.main-text Заказывая у нас услуги вы получаете беспрецедентную возможность подняться в поиске сайта, получить ряд преимуществ над другими пользователями, попасть в топ исполнителей и значительно поднять свой статус. Просмотры и лайки ваших работ растут, что повышает интерес к вам потенциальных заказчиков.
        +e.main
          +e.left
            +e.item
              +e.item-img
                img(src="assets/images/icons/action1.png")
              +e.item-main
                +e('span').item-title быстрая регистрации
                +e('span').item-text Вам понадобится всего пара минут и Вы сможете воспользоваться возможностями нашего сервиса
            +e.item
              +e.item-img
                img(src="assets/images/icons/action2.png")
              +e.item-main
                +e('span').item-title Постоянные бонусы
                +e('span').item-text Мы предлагаем широкий ассортимент готовых кейсов, но также и индивидуальный подход
            +e.item
              +e.item-img
                img(src="assets/images/icons/action3.png")
              +e.item-main
                +e('span').item-title невыносимо низкие цены
                +e('span').item-text Наши цены разумные и аргументированы. Вы получаете 100% отдачу затраченных средств и намного больше - <span class="fw-extra-bold">непрерывное движение вверх!</span>
            +e.item
              +e.item-img
                img(src="assets/images/icons/action4.png")
              +e.item-main
                +e('span').item-title соблюдение сроков
                +e('span').item-text Предварительно с вами утверждается план работ и продвижение выполняется в строгом соответствии, после чего составляется отчет.
          +e.right
            +e.img
              +e.img-text
                span.fw-extra-bold.js-number 11,470
                span просмотров!
              img(src='assets/images/girl.png')
        +e.bottom
          +e('span').bottom-text Хочу принять участие в акции
          .btn-arrow
            <svg class="arrow-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
            <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow wow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
            <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1 wow" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
            <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2 wow" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
            </svg>
            button.btn.btn-pink
              span получить <span class="fw-extra-bold"><span class="btn-number">50</span> лайков</span>
