mixin callback()
  section.callback-wrap
    .callback-bg
      .stars-wrap.callback-stars1
        #stars
        #stars2
        #stars3
        img.callback-comet1(src="assets/images/comet2.png")
      .stars-wrap.callback-stars2
        #stars
        #stars2
        #stars3
        img.callback-comet2(src="assets/images/comet3.png")
      img.callback__img-bg(src='assets/images/chat.png')
    .container
      +b.callback
        .no-gutters
          .col-xl-7.col-lg-9
            h2.title
              span.title-light Наслаждайтесь творчеством
              span.title-extra-bold остальное доверьте нам!
            +e('p').main-text.main-text Низкие цены на продвижение своих работ на Behance? Вы нашли, чтоискали! У нас вы получаете комплексное индивидуальное продвижение по максимально выгодным ценам!
            +e('form').form
              input(placeholder='Ваше имя')
              input(placeholder='Ваш e-mail')
              input(placeholder='Ссылка на Ваше портфолио').mb-3
              textarea(placeholder='Ваше сообщение').mb-3
              .checkbox-wrap.mb-3
                input(type='checkbox' id="agree")
                .checkbox
                  .checkbox-ico
                label(for="agree") Я принимаю условия <a href="#">Соглашения</a>
              .btn-arrow
                <svg class="arrow-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
                <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow wow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
                <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1 wow" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
                <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2 wow" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
                </svg>
                button.btn.btn-pink
                  span <span class="fw-extra-bold">оформить</span> заказ
