mixin about()
  section.about-wrap
    .container
      +b.about
        +e.title
          h2.title.d-inline-block.ml-auto
            span.title-light.mb-0 узнай больше
            span.title-extra-bold и начни зарабатывыать
          h1.title-big.title-big-second О сервисе
        +e.main-text.main-text
          p Выйти на новый уровень дизайнеру поможет Behance — ресурс, где с хорошим портфолио и рейтинговым кол-вом лайков / просмотров предложения о сотрудничестве будут приходить сами без долгих дополнительных поисков.
          p Наш сервис это не просто  «накрутка», мы делаем уникальное продвижение ваших работ по разработанному алгоритму, которое позволяет увеличить лайки аккаунта и единичной работы до 3000 и просмотры до 10000, благодаря чему Ваш проект попадает в недельный ТОП Behance и получает ряд преимуществ:
        +e.main
          -
            var items = [
              {
                title: 'Как можно больше активности ',
                text: 'от пользователей Behance (лайки, подписки и добавление работ в коллекции)\n'+
                'Коментарии и адекватную критику своих работ а так же выгодно выделиться \n'+
                'на фоне новичков.'
              },
              {
                title: 'Получте уже сейчас',
                text: 'коммерческие заказы  / предложения долгосрочного сотрудничества\n'+
                'и начните зарабатывать на своих работах не прилогая усилий'
              },
              {
                title: 'вывод в топ',
                text: 'Возможность быстрее других своих коллег попасть в ТОП, Вероятность что \n'+
                'кураторы Behance добавят Вашу работу в одну из курируемых галерей \n'+
                'возрастает (behance.net/galleries)\n'
              }
            ]
          +e.main-left
            each item in items
              +e.item.action__item
                .action__item-img
                  img(src='assets/images/icons/action1.png' alt='')
                .action__item-main
                  span.action__item-title= item.title
                  span.action__item-text= item.text
            +e.bottom.action__bottom
              span.action__bottom-text Хочу принять участие в акции
              .btn-arrow
                <svg class="arrow-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
                <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow wow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
                <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1 wow" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
                <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2 wow" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
                </svg>
                button.btn.btn-pink
                  span получить <span class="fw-extra-bold"><span class="btn-number">50</span> лайков</span>
          +e.main-right
            .action__right
              .action__img
                .action__img-text
                  span.fw-extra-bold.js-number 11,470
                  span просмотров!
                img(src='assets/images/girl.png' alt='')
