extends ../components/layout-default/layout-default
include ../components/index/action/action
include ../components/index/prices/prices
include ../components/index/reviews/reviews
include ../components/index/callback/callback

block head
    - var pageTitle = 'Index Page';

block content
  +action()
  +prices()
  +reviews()
  +callback()
