@import "../../shared/sass/vars"

.header
  position: relative
  padding: 10px 0 50px
  color: #ffffff
  &-wrap
    margin-top: 40px
    position: relative
    background-image: url('../images/header-bg.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: center 0
    &:before
      position: absolute
      content: ''
      top: -40px
      width: 100%
      height: 40px
      background-color: #53b3fa
  &__menu
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    margin-top: -30px
    @media(max-width: 991px)
      margin-bottom: 20px
    &-btn
      display: flex
      align-items: center
      margin: 5px 20px
      color: inherit
      text-decoration: none
      background-color: transparent
      border: none
      &:hover
        color: $pink
      &-round
        display: flex
        align-items: center
        justify-content: center
        min-width: 34px
        max-width: 34px
        height: 34px
        color: #ffffff
        font-size: 16px
        font-weight: 700
        background-color: $pink
        border-radius: 50%
      &-text
        display: flex
        flex-direction: column
        margin-left: 7px
  &__right,
  &__left
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    width: calc((100% - 230px) / 2)
    @media (max-width: 991px)
      width: 50%
    @media (max-width: 575px)
      width: 100%
  &__icon
    padding: 5px
    margin: 0 -5px 0 20px
    &:hover
      opacity: 0.5
  &__nav
    display: flex
    flex-wrap: wrap
    align-items: center
    &-item
      padding: 5px
      margin: 0 15px
      color: inherit
      font-size: 12px
      font-weight: 700
      text-decoration: none
      letter-spacing: 0.68px
      &:hover
        color: $pink
  &__phone
    position: relative
    display: flex
    justify-content: center
    align-items: center
    &-img
      position: relative
      z-index: 1
      margin-top: -10px
      margin-left: 5px
    &-text
      position: absolute
      z-index: 2
      top: 102px
      left: calc(50% + 8px)
      @media (max-width: 768px)
        top: 470px
        left: 50%
        transform: translateX(-50%)
    &-wrap
      position: relative
    &-info
      position: absolute
      top: 43px
      left: 26px
      width: 192px
      height: 368px
      padding: 8px
      color: $dark
      font-size: 7px
      border-bottom-left-radius: 7px
      border-bottom-right-radius: 7px
      background-color: #fff
      overflow: hidden
      pointer-events: none
      .fa
        margin-right: 2px
    &-avatar
      min-width: 51px
      max-width: 51px
      height: 51px
      margin-right: 10px
      border-radius: 50%
      overflow: hidden
      img
        width: 100%
        height: 100%
        object-fit: cover
    &-top
      padding: 7px 8px
    &-name
      display: inline-block
      font-size: 11px
      margin-bottom: 5px
    &-main
      display: flex
      font-size: 7px
    &-btn
      display: flex
      align-items: center
      justify-content: center
      width: 80px
      height: 17px
      margin-top: 12px
      margin-bottom: 30px
      font-size: 7px
      font-weight: 700
      border-radius: 10px
      &-blue
        color: #ffffff
        background-color: #0258ff
    &-item
      display: flex
      flex-direction: column
      width: 85px
      margin-bottom: 10px
      &:nth-child(odd)
        margin-right: 5px
      &-img
        width: 100%
        height: 75px
        margin-bottom: 10px
        img
          width: 100%
          height: 100%
          object-fit: cover
  &__more
    display: inline-block
    margin: 10px 0 0 105px
    color: inherit
    letter-spacing: 0.93px
    font-size: 11px
    font-weight: 700
    text-transform: uppercase
    text-decoration: underline
    @media (max-width: 768px)
      color: $dark
    &:hover
      text-decoration: none
  &__stars
    position: absolute
    top: -40px
    overflow: hidden
  &__stars1
    left: 50%
    width: 580px
    height: 540px
    transform: translateX(-50%)
    border-radius: 0 0 50% 50% / 0 0 60% 60%
    @media (max-width: 580px)
      width: 100%
  &__stars2,
  &__stars3
    width: 410px
    height: 320px
    @media (max-width: 1400px)
      width: calc((100% - 580px) / 2)
  &__stars2
    right: calc(50% + 290px)
    border-radius: 0 0 0 50% / 0 0 0 80%
  &__stars3
    left: calc(50% + 290px)
    border-radius: 0 0 50% 0 / 0 0 80% 0
  &__stars4,
  &__stars5
    width: calc((100% - 1400px) / 2)
    height: 115px
  &__stars4
    left: 0
  &__stars5
    right: 0

@function multiple-box-shadow ($n)
  $value: '#{random(2000)}px #{random(2000)}px #FFF'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'

  @return unquote($value)

$shadows-small:  multiple-box-shadow(700)
$shadows-medium: multiple-box-shadow(200)
$shadows-big:    multiple-box-shadow(100)


#stars
  width: 2px
  height: 2px
  background: transparent
  box-shadow: $shadows-small
  border-radius: 50%
  animation			: animStar 50s linear infinite

  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $shadows-small

#stars2
  width: 3px
  height: 3px
  background: transparent
  box-shadow: $shadows-medium
  border-radius: 50%
  animation			: animStar 100s linear infinite

  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $shadows-medium

#stars3
  width: 5px
  height: 5px
  background: transparent
  box-shadow: $shadows-big
  border-radius: 50%
  animation			: animStar 150s linear infinite

  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 3px
    height: 3px
    background: transparent
    box-shadow: $shadows-big

@keyframes animStar
  from
    transform: translateY(0px)
  to
    transform: translateY(-2000px)

