mixin header-small()
  header.header-small-wrap
    .header-small-bg
      .header__stars1.header__stars
        .stars
        .stars2
        .stars3
      img(src='assets/images/header-bg3.png' alt='')
    .container

