@import "vars"

.title
  margin-bottom: 5px
  &-light,
  &-extra-bold
    display: block
    font-size: 36px
    text-transform: uppercase
  &-extra-bold
    padding-left: 50px
    font-weight: 800
  &-light
    margin-bottom: 5px
    font-weight: 400
  &-big
    margin: 0 0 0 -8px
    font-family: $gilroy
    font-size: 173px
    letter-spacing: -0.54px
    line-height: 0.9em

.main-text
  margin-top: 0
  font-size: 15px
