$muller: 'Muller', sans-serif
$gilroy: 'Gilroy', sans-serif
$lato: 'Lato', sans-serif
$qanelas: 'Qanelas', sans-serif
$ubuntu: 'Ubuntu', sans-serif

$dark: #282828
$pink: #e32c74
$blue: #003f5a

$gradient: linear-gradient(-177deg, #62bafb 0%, #008df5 100%)

$transition: all 0.3s ease
